#header-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid black;

}

#seperation-div {
    height: 70px;
    width: 2px;
}

#image-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 200px;

}

.pictures {
    height: 200px;
    width: 200px;
}

#button-div {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
}

.button {
    background: white;
    color: #333;
    min-width: 135px;
    padding: 20px 32px;
    font-size: 15px;
    font-weight: 600;
    line-height: 5px;
    border: 2px solid black;
    border-radius: 2px;
    letter-spacing: 1px;
    cursor: pointer;
    text-transform: uppercase;
}

.hidden {
display: none;
}

.chosen {
    position: absolute;
    top: 130px;
    border: solid black;
    height: 100px;
    width: 100px;
}

.chosen-img {
    display: block;
    height: 100%;
    width: 100%;
}
