html
 head
  title= title
 body
  h1= message




//- Pug Syntax
//- doctype html
//- html
//-  head
//-  body
//-   h1 Hello World!
//-   p.
//-     This is a paragraph tag
//-     and this is a new line
//-   ul
//-    li This is item 1
//-    li This is item 2
//-    li This is item 3

//- h1#pageTitle Page Title Goes Here
//-   p.big-para Here is some text for my big paragraph
//-   .display-box
