<nav>
  <div class="site-title">
    <a href="/"><h1>Sample Blog</h1></a>
    <p>Made by Athena</p>
  </div>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Post</a></li>
  </ul>
</nav>
