<!-- simple html template for log-in screen form  -->
<h1>Login</h1>
<% if (messages.error) { %>
    <%= messages.error %>
    <% } %>
<form action="/login" method="POST">
<div>
    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" required>
</div>
<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
</div>
<button type="submit">Log-in</button>
</form>
 <!-- button that redirects to register screen -->
<a href="/register">Register</a>
