<style>
    form {
        width: 50%;
        margin: 20px auto;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 10px;
    }

    label {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 16px;
        border-radius: 5px;
        border: 1px solid #ddd;
    }

    button[type="submit"] {
        padding: 10px 20px;
        background-color: lightblue;
        color: white;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        font-size: 16px;
    }

    a {
        display: block;
        text-align: center;
        margin-top: 20px;
        font-size: 16px;
        color: blue;
    }
</style>
<!-- simple html template for log-in screen form  -->
<h1>Login</h1>
<% if (messages.error) { %>
    <%= messages.error %>
    <% } %>
<form action="/login" method="POST">
<div>
    <label for="email">E-mail</label>
    <input type="email" id="email" name="email" required>
</div>
<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
</div>
<button type="submit">Log-in</button>
</form>
 <!-- button that redirects to register screen -->
<a href="/register">Register</a>
